/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#loading {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 70;
    width: 100%;
    height: 3px;
    background: #ff4081
}

#loading.active {
    -webkit-animation: loading-anim 1s ease-in-out infinite;
    animation: loading-anim 1s ease-in-out infinite
}

#menu-off {
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    min-height: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .4s cubic-bezier(.18, .81, .3, .89);
    transition: .4s cubic-bezier(.18, .81, .3, .89)
}

#menu .brand-wrap {
    background-size: 100% 100%;
    background-color: rgba(65,134,194,0.5);
}

#menu .brand {
    padding: 20px 20px 2em;
    background: rgba(65, 134, 194, 0.5);
    width:200px;
    height:160px;
}

#menu .avatar {
    display: block;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

#menu .introduce {
    margin: 1em 0 0;
    color: #fff
}

#menu .nickname {
    padding: 0 0;
    color: #ffffff;
    font-size: 16px;
    height: 20px
}

#menu .mail {
    display: inline-block;
    padding-top: 0;
    color: #e6e6fa;
    font-size: 13px;
    text-decoration:none
}

#menu .scroll-wrap {
    position: relative;
    overflow-y: auto
}

#menu .nav {
    margin: 0;
    padding: 12px 0;
    height: 300px;
    min-height: calc(100% - 115px);
    list-style: none;
    line-height: 44px
}

#menu .nav li {
    padding: 0 20px
}

#menu .nav li .icon {
    position: absolute;
    top: 0;
    left: 20px;
    line-height: inherit
}

#menu .nav li:hover, #menu .nav li.active {
    background: rgba(0, 0, 0, 0.05)
}

#menu .nav li:hover a, #menu .nav li.active a, #menu .nav li:hover .icon, #menu .nav li.active .icon {
    color: #4186c2
}

#menu .nav a {
    display: block;
    padding-left: 48px;
    height: 44px;
    line-height: 44px;
    font-weight: 500;
    color: #727272;
    text-decoration: none
}

#menu .nav2 {
    padding: 0
}

#menu .nav2 li {
    float: left;
    display: block
}

#menu .nav2 li span {
    font-size: 5px
}

#menu .nav2 li .icon {
    position: absolute
}

#menu .nav2 li .github {
color: black
}

#menu .nav2 li .qq {
color: #41aae7
}

#menu .nav2 li .bubbles {
color: #4cae50
}


#menu .nav2 li:hover, #menu .nav2 li.active {
    background: rgba(0, 0, 0, 0)
}

#menu .nav2 li:hover a, #menu .nav2 li.active a, #menu .nav2 li:hover .icon, #menu .nav2 li.active .icon {
    color: #ff4081
}

#menu .nav2 li a {
    padding: 10px
}

.icon {
    display: inline-block;
    font-family: 'icomoon';
    font-size: 1em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

#main {
    padding-left:240px;
    min-height: 100%;
    /*background: #fff;*/
    position: relative;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

img, input, button, label {
    vertical-align: middle;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.body-wrap {
    padding: 30px 0 40px;
    min-height: calc(100vh - 340px);
}

.waves-block {
    display: block
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.search-wrap {
    position: relative;
    top: 15px;
}

.post-content {
    background: #cccccc;
    padding-left: 90px;
    padding-bottom: 20px;
    line-height: 1.8
}

.mystyle {
    color: #2fa0ec;
}
.title-color {
    color: #4186c2;
}

.img-position {
    padding-top: 5px;
}


/* ==========================#4f83ff================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
